{% extends "entregas/layout.html" %}

{% block title %}Login{% endblock title %}

{% block body %}
    <h2>Login do Motorista</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Ainda não tem cadastro? <a href="{% url 'entregas:registrar_motorista' %}">Cadastre-se aqui</a>

{% endblock body %}
