{% extends "ecommerce/layout.html" %}

{% block title %}Confirmação pedido{% endblock title %}

{% block body %}
    <h2 class="mb-4">Pedido confirmado</h2>

    <div id="session">
        {% for key, value in request.session.items %}
            <p><strong>{{ key }}</strong> {{ value }}</p>
        {% endfor %}
    </div>

    <div>
        <h4>Frete</h4>
        {% if loja.plano.tipo == 'Basico' %}
            <!--Entrega pela loja-->
        {% else %}
            <!--Entrega pelo app-->
        {% endif %}
    </div>

    <div>
        <form>
            <!--Form para selecionar o tipo de entrega Expressa/Planejada-->
        </form>
    </div>

    <div>
        <form>
            <!--Cupons de desconto-->
        </form>
    </div>

    <div>
        <form>
            <!--Forma de pagamento-->
        </form>
    </div>

{% endblock body %}
