{% extends "ecommerce/layout.html" %}

{% block body %}
    
    <h2>{{ produto }}</h2>

    <!--Nota do produto-->
    {% if produto.nota %}
        <div class="mb-3">
            {{ produto.nota }} ({{ produto.avaliacoes }})
        </div>
    {% else %}
        <div class="mb-3">
            Nenhuma avaliacao ({{ avaliacoes|length }})
        </div>
    {% endif %}

    <!--Lógica da Wishlist -->
    {% if user.is_authenticated and not user.is_lojista and not user.is_motorista %}

        <form method="post" action="{% url 'ecommerce:acionar_wishlist' produto.id %}">
            {% csrf_token %}
            {% if in_wishlist %}
                <input type="submit" value="Remover da Lista de Favoritos" class="btn btn-danger">
            {% else %}
                <input type="submit" value="Adicionar à Lista de Favoritos" class="btn btn-primary">
            {% endif %}
        </form>

    {% endif %}
    
    <!--Detalhes do Produto -->
    <div>
        <img src="{{ produto.photo.url }}" alt="{{ produto }}" width="auto" height="400px">
        <p>{{ produto.descricao }}</p>
        <h2>R$ {{ produto.preco }}</h2>
    </div>
    
    <div class="mt-4">
        <h3 class="mb-4">Detalhes</h3>
        <div class="card">
            <div class="card-title">
                {{ produto.loja.nome }}
            </div>
            <div class="card-body">
                {% if produto.loja.logo %}
                    <img src="{{ produto.loja.logo.url }}" alt="{{ loja.nome }}" width="100px" height="100px">
                {% endif %}
            </div>
        </div>
        {% if produto.categoria %}
            <p>Categoria: <a href="{% url 'ecommerce:produtos_categoria' produto.categoria.id %}">{{ produto.categoria }}</a></p>
        {% else %}
            <p>Sem categoria</p>
        {% endif %}
    </div>

    <!--Avaliacoes de usuarios-->
    <div class="mt-4">
        <!--Lista de avaliacoes-->
        <h3 class="mb-4">Avaliações</h3>
        {% if avaliacoes %}
            {% for avaliacao in avaliacoes %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p>Nota: {{ avaliacao.nota }}</p>
                        <h6 class="card-title"><strong>{{ avaliacao.user.username }}</strong></h6>
                        <p><small>{{ avaliacao.datetime }}</small></p>
                        <h5><strong>{{ avaliacao.titulo }}</strong></h5>
                        <p class="card-text">{{ avaliacao.conteudo }}</p>
                        <p>Recomenda esse produto: {{ avaliacao.recomenda }}</p>
                        <!--Deletar avaliacao-->
                        {% if avaliacao.user == request.user %}
                            <form method="post" action="{% url 'ecommerce:deletar_avaliacao' id_produto=produto.id id_avaliacao=avaliacao.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Deletar" class="btn btn-danger">
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-secondary" role="alert">
                <h6>Ainda não há avaliações.</h6>
            </div>
        {% endif %}

        <!--Adicionar uma avaliacao-->
        {% if user.is_authenticated and not usuario_ja_avaliou and not user.is_lojista and not user.is_motorista%}   
            <div>
                <form method="post" action="{% url 'ecommerce:fazer_avaliacao' produto.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Avaliar">
                </form>
            </div>
        {% endif %}
    </div>

{% endblock body %}