{% extends "ecommerce/layout.html" %}

{% load ecommerce_filters %}

{% block body %}
<h2 class="mb-4">Produtos</h2>

<!-- Todos os produtos  -->
<div class="row">
    {% for produto in produtos %}
        <div class="col-6 mb-4">
            <a href="{% url 'ecommerce:detalhes_produto' produto.id %}" class="text-decoration-none text-dark">
                <div class="card h-100">
                    <!-- Parte superior do card -->
                    <div class="row no-gutters flex-grow-1">
                        <!-- Imagem do produto -->
                        <div class="col-lg-4 col-md-5">
                            <img src="{{ produto.photo.url }}" alt="{{ produto }}" width="100%" height="200px">
                        </div>
                        <!-- Informações do produto -->
                        <div class="col-md-8">
                            <div class="card-body">
                                <span class="star-rating">
                                    {% for i in 5|to_range_D:0 %}
                                        {% if i <= produto.nota %}
                                            <span class="filled-star star-size">★</span>
                                        {% else %}
                                            <span class="empty-star star-size">★</span>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                {% if produto.nota %}
                                    <p>{{ produto.nota }} ({{ produto.avaliacoes }})</p>
                                {% else %}
                                    <p>Nenhuma avaliação (0)</p>
                                {% endif %}
                                <h5 class="card-title"><strong>{{ produto }}</strong></h5>
                                <p><strong>R$ {{ produto.preco }}</strong></p>
                                <p>
                                    {{ produto.descricao|slice:250 }}
                                    {% if produto.descricao|length > 250 %}...{% endif %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Rodapé do cartão -->
                    <div class="card-footer mt-auto">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Logo da loja -->
                            <a href="{% url 'ecommerce:produtos_loja' produto.loja.id %}">
                                {% if produto.loja.logo %}
                                    <img src="{{ produto.loja.logo.url }}" alt="{{ produto.loja.nome }}" width="60px" height="60px">
                                {% endif %}
                            </a>
                            <!-- Ícone do carrinho -->
                            <div id="card-icones" class="me-3">
                                <a href="{% url 'ecommerce:adicionar_ao_carrinho' produto.id %}">
                                    <img src="media/icones/carrinho.png" alt="Adicionar ao carrinho" width="40px" height="40px">
                                </a>
                            </div>
                        </div>
                        <!-- Mensagens de erro -->
                        <div class="erro">
                            {% for message in messages %}
                                {% if produto.id|stringformat:"s"|add:" error" == message.tags %}
                                    <p class="alert alert-danger">{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock body %}
