{% extends "ecommerce/layout.html" %}

{% block body %}

    <h2>Lista de Desejos</h2>

    {% if wishlist %}
        <div class="row">
            {% for produto in wishlist %}
                <a href="{% url 'detalhes_produto' produto.id %}" class="text-decoration-none">
                    <div class="col-12 mb-4">
                        <div class="card h-100">
                            <div class="row no-gutters">
                                <div class="col-lg-2 col-md-4">
                                    <img src="{{ produto.photo.url }}" alt="{{ produto }}" width="100%" height="200px"> 
                                </div>

                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p>{{ produto.nota }} ({{ produto.avaliacoes }})</p>
                                        <h5 class="card-title"><strong>{{ produto }}</strong></h5>
                                        <p><strong>${{ produto.preco }}</strong></p>
                                        <p>{{ produto.descricao }}</p>
                                        <img src="{{ produto.loja.logo.url }}" alt="{{ produto.loja.nome }}" width="100px" height="100px"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Você não adicionou nenhum item a sua lista de desejos.</p>
    {% endif %}

{% endblock body %}