{% extends "empresarial/layout.html" %}

{% block title %}Cadastre seu produto{% endblock title %}

{% block body %}
    <div class="form-container">
        <h2 class="mb-4 text-center">Cadastro de Produto</h2>
        <p class="text-center">Preencha com as informações sobre o seu produto</p>

        {% if error %}
            <div class="alert alert-danger text-center">{{ error }}</div>
        {% endif %}

        <form method="post" class="mt-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
        </form>
    </div>
{% endblock body %}
