{% extends "empresarial/layout.html" %}

{% block title %}Cadastre sua loja{% endblock title %}

{% block body %}
    <div class="form-container">
        <h2 class="mb-4 text-center">Responsável da loja</h2>
        <p class="text-center">
            Informe os dados da pessoa que tem o nome no contrato social da empresa, 
            seja como dona, sócia ou sócia administrativa.
        </p>

        {% if message %}
            <div class="alert alert-danger text-center">{{ message }}</div>
        {% endif %}

        <form method="post" class="mt-3">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input class="btn btn-primary" type="submit" value="Continuar">
        </form>
    </div>
{% endblock body %}
