{% extends "empresarial/layout.html" %}

{% load empresarial_filters %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
<div class="container mt-4">
    <h2>Dashboard de Vendas</h2>
    <div class="row">
        <div class="col-md-4"> <!-- Coluna para o dashboard de vendas -->
            <div class="border p-3">
                <h4>Vendas</h4>
                <!-- Aqui você pode adicionar gráficos ou informações de vendas -->
                <ul>
                    {% for entrega in entregas %}
                        <li><h6 class="text-danger"><strong>Pedido #{{ entrega.pedido.id }} - {{ entrega.pedido.datetime }}</strong></h6></li>

                        <p><strong>Status:</strong>
                            <span class="badge 
                                {% if entrega.status == 'entregue' %}
                                    bg-success
                                {% elif entrega.status == 'cancelada' %}
                                    bg-danger
                                {% elif entrega.status == 'saiu para entrega' %}
                                    bg-primary
                                {% elif entrega.status == 'a caminho da loja' %}
                                    bg-info
                                {% elif entrega.status == 'preparando o pedido' %}
                                    bg-warning
                                {% elif entrega.status == 'pedido preparado' %}
                                    bg-info
                                {% else %}
                                    bg-secondary
                                {% endif %}
                            ">
                                {{ entrega.get_status_display }}
                            </span>
                        </p>
                        <!-- Listando os itens da entrega -->
                        <ul>
                            {% for item in entrega.itens %}
                                <li>{{ item.quantidade }}x {{ item.produto }}: <strong>R$ {{ item.produto.preco|mul:item.quantidade }}</strong></li>
                            {% endfor %}
                        </ul>

                        <!-- Calculando o valor total da entrega -->
                        <p><strong>Total:</strong> R$ {{ entrega.total_itens }}</p>

                        {% if entrega.status == 'aguardando confirmação da loja' %}
                            <a href="{% url 'empresarial:preparar_pedido' entrega.id %}" class="btn btn-sm btn-success mb-4">Confirmar</a>
                        {% elif entrega.status == 'preparando o pedido' %}
                            {% if entrega.entrega_pelo_app %}
                                <a href="{% url 'empresarial:acionar_entrega' entrega.id %}" class="btn btn-sm btn-warning mb-4">Acionar entrega</a>
                            {% else %}
                                <a href="{% url 'empresarial:saiu_para_entrega' entrega.id %}" class="btn btn-sm btn-warning mb-4">Saiu para entrega</a>
                            {% endif %}
                        {% elif entrega.status == 'a caminho da loja' %}
                            <a href="{% url 'empresarial:saiu_para_entrega' entrega.id %}" class="btn btn-sm btn-success mb-4">Saiu para entrega</a>
                        {% endif %}

                        <!-- Linha divisória entre os pedidos -->
                        <hr class="my-4">
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8"> <!-- Coluna para a lista de produtos -->
            <div class="border p-3">
                <h4>Lista de Produtos</h4>
                {% if produtos %}
                    <div class="row">
                        {% for produto in produtos %}
                            <div class="col-6 mb-4"> <!-- Coluna para os produtos -->
                                <a href="{% url 'empresarial:pagina_produto' produto.id %}" class="text-decoration-none text-dark">
                                    <div class="card h-100">
                                        <div class="row no-gutters">
                                            <div class="col-5">
                                                {% if produto.photo %}
                                                    <img src="{{ produto.photo.url }}" alt="{{ produto }}" class="img-fluid" width="100%" height="100px"> 
                                                {% endif %}
                                            </div>
                                            <div class="col-7">
                                                <div class="card-body">
                                                    <span class="star-rating">
                                                        {% for i in 5|to_range_D:0 %}
                                                            {% if i <= produto.nota %}
                                                                <span class="filled-star">★</span>
                                                            {% else %}
                                                                <span class="empty-star">★</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                    {% if produto.nota %}
                                                        <p>{{ produto.nota }} ({{ produto.avaliacoes }})</p>
                                                    {% else %}
                                                        <p>Nenhuma avaliação (0)</p>
                                                    {% endif %}
                                                    <h6 class="card-title">{{ produto }}</h6>
                                                    <small class="card-text">R$ {{ produto.preco }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-absolute bottom-0 end-0 p-2"> <!-- Posicionamento absoluto -->
                                            <a href="{% url 'empresarial:editar_produto' produto.id %}" class="btn btn-sm btn-warning me-1" id="btn-emp-edit">Editar</a>
                                            <a href="{% url 'empresarial:deletar_produto' produto.id %}" class="btn btn-sm btn-danger" id="btn-emp-del">Deletar</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Você ainda não cadastrou nenhum produto.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}